@charset "UTF-8";
/* CSS Document */
* {
	background-color: rgba(47,200,222,1.00) ;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 
rgba(29,74,218,1.00)}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	background-color: rgba(29,74,218,1.00);
}

li a:hover:not(.active) {
  background-color: rgba(29,74,218,.5);
}

.active {
  background-color: rgba(201,88,255,1.00);
}

#hp1 {
	text-align: center;
}

input[type=text]{
	border: 4px;
	border-style: dotted;
	border-color: rgba(29,74,218,1.00);
	border-radius: 8px;
	background-color: 
rgba(201,88,255,1.00)}

#survey {
	width: 100px;
	margin:0 auto;
}

.radio {
	border: 4px;
	border-style: dotted;
	border-color: rgba(29,74,218,1.00);
	border-radius: 8px;
}
.submit {
background-color: rgba(201,88,255,1.00);
}



.bottomstuff {
	width: 100px;
	margin:0 auto;
}
